<header  class="header-container">
    <nav class="nav-wrapper">
      <ul class="menus">
        <li class="menu-list">
          <a class="<%= path==='/' ? 'active' :''%>" href="/">Home</a>
        </li>
        <li class="menu-list">
          <a class="<%= path==='/users' ? 'active' :''%>" href="/users">Users</a>
        </li>
      </ul>
    </nav>
  </header>