<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/css/home.css" rel="stylesheet"/>
</head>
<body>
    <div class="home-page">
        <div class="home-wrapper">
        <h1>Welcome to home page</h1>
    <form class="form" action="/add-user" method="post">
        <div class="form-control">
            <label>Username</label>
            <input type="text" name="username"/>
        </div>
         <button class="add-user-btn">Add User</button>
    </form>
</div>
</div>
</body>
</html>